@model IEnumerable<SalesHelmet.Models.SANPHAM>

@{
    ViewBag.Title = "SPtheoMH";
    Layout = "~/Views/_LayoutPage.cshtml";
}





<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Sản Phẩm Bán Chạy</h1>
                <p>
                    Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (var sp in Model)
            {
                <div class="col-12 col-md-3 mb-4">
                    <div class="card h-100">
                        <a href="@Url.Action("Details","Helmet",new {id = sp.MaSP })">
                            <img src="~/Assets/images/product/@sp.Anhbia" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">@sp.Giaban</li>
                            </ul>
                            <a href="shop-single.html" class="h5 text-decoration-none text-dark">@sp.TenSP</a>
                            <p class="card-text">

                            </p>
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li class="text-dark text-right fw-bold">
                                    <b>@String.Format("{0:0,0}", sp.Giaban) đ</b>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- End Featured Product -->
